---
import Inicio from '../components/icons/Inicio.astro'
import Sobremi from '../components/icons/Sobremi.astro'
import Proyectos from '../components/icons/Proyectos.astro'
import Contacto from '../components/icons/Contacto.astro'
---

<nav class="fixed w-full flex justify-center z-10">
  <ul class="flex w-11/12 justify-around p-4  my-4 z-10 rounded-full backdrop-blur-lg ">
    <li class=""><a href="#top" class="flex items-center"><span class="icon"><Inicio /></span><span class="letras">Inicio</span></a></li>
    <li class=""><a href="#proyectos" class="flex items-center"><span class="icon"><Proyectos /></span><span class="letras">Proyectos</span></a></li>
    <li class=""><a href="#sobreMi" class="flex items-center"><span class="icon"><Sobremi /></span><span class="letras">Sobre mí</span></a></li>
    <li class=""><a href="#Contacto" class="flex items-center"><span class="icon"><Contacto /></span><span class="letras">Contacto</span></a></li>
  </ul>
</nav>

<style>
  ul {
    background-color: #65656575;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  @media (min-width: 769px) { 
    ul {
      animation: resize auto linear forwards;
      animation-timeline: scroll(root block);
    }

    @keyframes resize {
      0% { opacity: 0; } 
      30% { opacity: 100% }
    }

    .icon { 
      display: none;
    }
  }

  @media (max-width: 768px) {
    nav {
      bottom: 0;
    }
    .letras {
        display: none;
      }
  }
</style>